<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quaerat aliquid iure laborum, ut natus? Cumque quisquam fuga qui provident rerum, ipsum saepe, soluta dolorem quidem culpa quod delectus nostrum.
  </div>
</div>
