// Specific CSS for your home-page
.content {
  width: 100%;
}

.nft {
  height: 360px;
  width: 360px;
  background-image: url('https://cdn.vox-cdn.com/thumbor/3j376QfTDxkCD5_vfYHOXcoIU2Q=/800x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22341197/doge.gif');
  background-repeat: no-repeat
}

.main {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 1000px;
}

.line {
  height: 60%;
  background-color: white;
  width: 1px;
}

.about {
  width: 360px
}

.about {
  p {
    color: white;
  }
}

#title {
color: white;
}

.slogan {
  text-align: center;
}

.slogan{
  p {
    color: white;
  }
}

.slogan {
  h2 {
    color: white;
  }
}

body{margin-top:20px;}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 30px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}
