.nft-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 50px auto;
  padding: 0 200px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

p {
  margin: 0;
}

.desc {
  height: 96px;
}
.nft-card {
  border-radius: 5px;
  background-color: rgb(255, 249, 239);
}

.user {
  padding: 20px;
}

.user {
  h5 {
    margin: 0;
    padding: 0;
    color: #26326b;
  }
}

.nft-card {
  h2 {
    color: black;
  }
}

#title {
  margin-top: 40px;
  margin-left: 200px;
  color: white;
}

#nft-preview {
  width: 100%;
}

.nft-info {
  padding: 20px;
}
