.nft-card-show {
  margin-top: 80px;
  padding: 30px;
  background-color: #ffffff;
  border: 3px solid #26326b;
  align-content: center;
}

.nft-card-show {
  h1 {
    color: #26326b;
  }
}

.nft-card-show {
  p {
    color: #26326b;
  }
}

.nft-card-show {
  a {
    color: #26326b;
  }
}

#nft-foto-show {
  width: 80%;
}

.text-wrapper {
  text-align: right;
  margin-right: 50px;
  width: 50%;
}
