.nft-card-show {
  background-color: #ffffff;
  align-content: center;
  border-radius: 5px;
}

.nft-details-show {
  background-color: #ffffff;
  border-radius: 5px;
  width: 350px;
  height: 500px;
}

.price {
  width: 100%;
  justify-content: right;
  margin-top: 50px;
  margin-bottom: 50px
}

.nft-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
  h5 {
    margin: 0;
  }
}


#eth {
  font-size: 20px;
  margin-right: 10px;
}
a {
  color: white;
}

.nft-card-show {
  h1 {
    color: #26326b;
  }
}

.nft-card-show {
  p {
    color: #26326b;
  }
}

.nft-card-show {
  a {
    color: #26326b;
  }
}

#nft-foto-show {
  width: 500px;
}

.text-wrapper {
  text-align: right;
  padding: 16px;
  h5 {
    color: #26326b;;
  }
}

.button {
  margin-top: 20px;
}

.nft-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 0.2px solid grey;
}
