<div class="content">
  <div class="banner">

    <h1 class="title">NFTea</h1>

  </div>
  <div class="slogan">
      <p>Your NFT marketplace</p>
    </div>

  <div class="main">
    <div class="nft">
    </div>
    <div class="line">
    </div>
    <div class="about">
    <p>The most popular NFT are here, for buying and selling image NFTs, join us in this popular society of crypto-art lovers.
      In addition to being able to buy NFTs directly or through NFT auctions, it also has a free tool to generate your own NFTs without need for programming knowledge. </p>
      <%= link_to 'Start Now', new_user_session_path, class:"btn btn-outline-secondary" %>
    </div>
  </div>
</div>
<div id="map"
   style="width: 50%; height: 300px; margin: 30px auto;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
 </div>
